<div class="dueDiligence">
    <div class="header">
        <div class="headerLeft">
            <!-- <img src="../../../../../assets/images/icon/Vector_more.svg" alt=""> -->
            <span>即時資訊顯示</span>
            <!-- <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="Visible($event, 'List')">
            {{listSelected}}
            <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowVector">
            <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowVector">
          </a> -->
            <!-- <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="TableList.UpdateHeaderDate('')" (click)="listSelected = 'All List'">All List</li>
                    <li nz-menu-item (click)="TableList.UpdateHeaderDate(userId)" (click)="listSelected = 'My List'">My List</li>
                </ul>
            </nz-dropdown-menu> -->
        </div>
        <!-- <div class="headerRight">
            <div class="initial">
                {{userName == null ? "" : (userName.substring(0, 1))}}
            </div>
            <a nz-dropdown [nzDropdownMenu]="menu1" (nzVisibleChange)="Visible($event, 'User')">
                {{userName == null ? "" : userName}}
                <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowUserVector">
                <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowUserVector">
              </a>
            <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item>Help Desk</li>
                    <li nz-menu-item style="color:#E54C4C;">Logout</li>
                </ul>
            </nz-dropdown-menu>
        </div> -->
    </div>
    <div class="detail">
        <!-- <div class="nav">
            <span *ngFor="let item of navBtn; let key = index">
            <button nz-button nzType="text" *ngIf="key != 1"  [ngClass]=" navCheckBtn == key ? 'clickBtn' : '' " > {{item.Code_Name}}</button>
            <button nz-button nzType="text" *ngIf="key == 1" [ngClass]=" navCheckBtn == key ? 'clickBtn' : '' " >
                {{item.Code_Name}}
                <b class="bubbleCount" [ngClass]="listSelected == 'All List' ? 'bBGC' : ''" >{{InProfressCount}}</b>
            </button>
        </span>
        </div> -->
        <div id="main" style="width: 600px;height:400px;"></div>
        <div id="main2" style="width: 600px;height:400px;"></div>
        <div id="main3" style="width: 600px;height:400px;"></div>
        <div id="main4" style="width: 600px;height:400px;"></div>
        <!-- <div class="tableList">
            <app-table-list (InProfessCount)="InProfessCount($event)" #TableList [type]="type"></app-table-list>
        </div> -->
    </div>
</div>
