<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span>即時資訊顯示</span>
      <!-- <span nz-icon nzType="rollback" nzTheme="outline"></span> -->
    </div>
  </div>
  <div class="detail"></div>
  <button (click)="asdf()">asdf</button>

  <div style="text-align: center;">
    <table>
      <tr>
        <td>
          <div>
            <input
              (input)="onInputChange($event)"
              class="input"
              value="{{ value }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickNum1()"
            />
          </div>
        </td>
        <td rowspan="2">
          <div [hidden]="keyboard_hidden" class="simple-keyboard"></div>
        </td>
      </tr>
      <tr>
        <td>
          <div>
            <input
              (input)="onInputChange($event)"
              class="input"
              value="{{ value2 }}"
              placeholder="Tap on the virtual keyboard to start"
              (click)="clickNum2()"
            />
          </div>
        </td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
