<div class="body_scroll">
    <div class="block-header">
        <div class="row">
            <div class="col-lg-7 col-md-6 col-sm-12">
                <h2>Call API Sample</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/index"><i class="zmdi zmdi-home"></i> Home</a></li>
                    <li class="breadcrumb-item">Examples</li>
                    <li class="breadcrumb-item active">Call API</li>
                </ul>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-12">                
                <button class="btn btn-primary btn-icon float-end right_icon_toggle_btn" type="button" (click)="toggleRightBar()"><i class="zmdi zmdi-arrow-right"></i></button>                                
            </div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">
                        <p>This sample show you how to call the back end test API http://localhost:5091/api/Example for add, delete, find, update!</p>
                        <div>
                            <button type="button" class="btn btn-raised btn-primary waves-effect" (click)="findAll()">Find All</button> &nbsp;
                            <button type="button" class="btn btn-raised btn-primary waves-effect" (click)="createOne()">Create one</button> &nbsp;
                            <button type="button" class="btn btn-raised btn-primary waves-effect" (click)="updateOne()">Update one</button> &nbsp;
                            <button type="button" class="btn btn-raised btn-primary waves-effect" (click)="deleteOne()">Delete one</button> &nbsp;
                            <button type="button" class="btn btn-raised btn-primary waves-effect" (click)="findByID()">Find by ID</button>
                        </div>
                        <div>
                            <br />
                            Response Result:<br />
                            {{ responseResult }}
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="body">
                        <p style="font-weight: bold;">Access Token:</p>
                        <p>{{ accessToken }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>